* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: clamp(400px, 50vw, 1000px);
  margin: 0 auto;
  padding: 1rem 0;
}

.container {
  margin: 1rem 0;
}

.grid-col {
  display: grid;
  gap: 1rem;
}

.grid-col-4 {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.collapse {

  height: 0;

  opacity: 0;
  overflow: hidden;
  transition: height 1.75s ease-out, opacity 0.3s linear;
}

.collapse.is-open {
  border: 1px solid lightgray;
  padding: .5rem;
  overflow: visible;
  /* max-height: unset; */
  height: auto;
  opacity: 1;
}


/* Task 2 */
a#callback-chat-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  transition: .3s ease;
  z-index: 5;
}

a#callback-chat-btn:hover {
  transform: scale(1.2);
}

#callback-chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s, opacity 0.1s linear;
  padding: 1rem;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
}

#callback-chat.open {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  pointer-events: auto;
}

.widget__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.widget__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.widget__body textarea,
.widget__body button {
  border-radius: 10px;
}

.widget__body button {
  padding: 0.75rem 0;
}
